---
layout: default
---
{% assign author = site.authors[page.author] %}
<div class="container-lg-fluid">
	<div class="jumbotron jumbotron-fluid p-0 bg-white position-relative">
		<div class="tofront">
			<div class="row justify-content-center">
				<!-- Title, tags, and author info -->
				<div class="col-lg-6 col-md-12 pr-0 pr-md-4 pt-4 pb-4 align-self-center">
					<p class="text-uppercase font-weight-bold">
						<span class="catlist">
							{% for category in page.categories %}
							<a class="sscroll text-danger"
								href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category | downcase
								}}</a><span class="sep">, </span>
							{% endfor %}
						</span>
					</p>
					<h1 class="display-4 mb-4 article-headline">{{ page.title }}</h1>
					<div class="d-flex align-items-center">
						{% if author.avatar %}
						<img class="rounded-circle"
							src="{{site.baseurl}}/{{author.avatar}}"
							alt="{{author.name}}"
							width="70" />
						{% endif %}
						<small class="ml-3"> {{ author.name }} <span><a target="_blank"
									href="{{ author.twitter }}"
									class="btn btn-outline-success btn-sm btn-round ml-1">Follow</a></span>
							<span class="text-muted d-block mt-1">{{ page.date | date: '%b %d, %Y' }} · {% include
								meta-read-time.html %}</span>
						</small>
					</div>
				</div>
				<!-- image (maybe) -->
				{% if page.image %}
				<div class="{% unless page.bigimage %} w-100 {% endunless %}"></div>
				<div
					class="{% if page.bigimage %} col-md-12 {% else %} col-lg-6 {% endif %} pr-0 pl-0 align-self-center">
					<img class="rounded col-md-12"
						src="{% if page.image contains "
						://"
						%}{{
						page.image
						}}{%
						else
						%}{{
						site.baseurl
						}}/{{
						page.image
						}}{%
						endif
						%}"
						alt="{{ page.title }}">
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="container-lg-fluid">
	<div class="row">
		<!-- Share Menu -->
		<div class="col-lg-3 col-md-0">
			{% include post/post-share.html %}
		</div>

		<div class="col-md-6 col-lg-6">
			<!-- Article -->
			<article class="article-post">
				{{ content }}
			</article>

			<!-- Tags -->
			{% include post/post-tags.html %}

			<!-- Mailchimp Subscribe Form -->
			{% if site.mailchimp-list %}
			{% include post/post-newsletter.html %}
			{% endif %}


			<!-- Author Box -->
			{% if page.author %}
			{% include post/post-bio.html %}
			{% endif %}

			<!-- Comments -->
			{% if page.comments != false %}
			{% include comments.html %}
			{% endif %}
		</div>
	</div>
</div>


<!-- Aletbar Prev/Next -->
{% if page.aletbar %}
<div class="alertbar">
	<div class="container">
		<div class="row prevnextlinks small font-weight-bold">
			{% if page.previous.url %}
			<div class="col-md-6 rightborder pl-0">
				<a class="text-dark"
					href="{{ site.baseurl }}{{ page.previous.url }}">{% if page.previous.image %} <img height="30px"
						class="mr-1"
						src="{{site.baseurl}}/{{page.previous.image}}"> {% endif %} {{page.previous.title}}</a>
			</div>
			{% endif %}
			{% if page.next.url %}
			<div class="col-md-6 text-right pr-0">
				<a class="text-dark"
					href="{{ site.baseurl }}{{ page.next.url }}"> {{page.next.title}} {% if page.next.image %} <img
						height="30px"
						class="ml-1"
						src="{{site.baseurl}}/{{page.next.image}}"> {% endif %}</a>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endif %}